<div class="hero-container">
  <div class="canvas">
    <div class="canvas-container">
      <app-three geometryType="sphere"></app-three>
    </div>
  </div>

  <div class="interface">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Tools </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="tools-container">
        <app-upload-form></app-upload-form>
        <app-color-select></app-color-select>
      </div>
    </mat-expansion-panel>
  </div>
</div>
