.hero-container {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  display: flex;
}

app-upload-form {
  display: flex;
  flex-direction: column;
}

app-color-select {
  display: flex;
  align-items: center;
}

.tools-container {
  display: flex;
  gap: 16px;
}

.interface {
  margin-top: 8px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  right: 0;
  max-height: 95%;
}

mat-panel-title {
  display: flex;
  justify-content: center;
  font-size: larger;
}
