.hero-container {
  width: 100vw;
  height: 100vh;

  overflow: hidden;
  display: flex;
}

app-upload-form {
  display: flex;
  flex-direction: column;
}

.interface {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  right: 0;
}
